Hello!

Hi {{name}}! We've heard that you've forgotten your password. No worries! It happens to the best of us.

To reset your password, you can follow this <a href="{{resetPasswordURL}}">lovely, magic link</a> or head straight to {{resetPasswordURL}}.

If you didn't ask for this email, you can just ignore it.

All the best!

The Choirless Crew