<table>
    <tr></tr>
    <tr>
        <td>Hello There!</td>
    </tr>

    <tr>
        <td>You've been invited to join Choirless as a beta tester!</td>
    </tr>

    <tr>
        <td>To join Choirless and get started, just go to {{inviteLink}} and create an account with the same email address as the one that you've recieved this email on.</td>
    </tr>

    <tr>
        <td>All the best!</td>
    </tr>

    <tr>
        <td>The Choirless Crew</td>
    </tr>

</table>