<html>

<body>

    <table>
        <tr></tr>
        <tr>
            <td>Hello!</td>
        </tr>

        <tr>
            <td>Hi {{name}}! We've heard that you've forgotten your password. No worries! It happens to the best of us.</td>
        </tr>

        <tr>
            <td>To reset your password, you can follow this <a href="{{resetPasswordURL}}">lovely, magic link</a> or head straight to {{resetPasswordURL}}.</td>
        </tr>

        <tr>
            <td>If you didn't ask for this email, you can just ignore it.</td>
        </tr>

    </table>

</body>
</html>
