<html>

<body>

    <table>
        <tr></tr>
        <tr>
            <td>Hello!</td>
        </tr>

        <tr>
            <td>{{creator}} has invited you to join their choir "{{choirName}}"</td>
        </tr>

        <tr>
            <td>If you know this person, and want to join their choir, just click <a href="{{invitationURL}}">this lovely, magic link</a> and you'll be good to go!</td>
        </tr>

        <tr>
            <td>(If you can't click that lovely, magic link above, here's an address you can copy and paste {{invitationURL}})</td>
        </tr>

        <tr>
            <td>This link will expire after 72 hours, so make sure to do it before then, otherwise you'll have to ask them for another invitation.</td>
        </tr>

        <tr>
            <td>If you don't know this person, or feel this invitation is in error, it's totally fine to just ignore it. It won't affect you or any Choirless accounts you have now, or in the future.</td>
        </tr>

    </table>

</body>
</html>
