<html>

<body>

    <table>
        <tr></tr>
        <tr>
            <td>Hello!</td>
        </tr>

        <tr>
            <td>Hi {{name}}! welcome to Choirless, the platform that lets people sing/dance/perform wherever they are!</td>
        </tr>

        <tr>
            <td>Now that you have an account, getting started is super easy.</td>
        </tr>

        <tr>
            <td>To start your choir, you can go straight to <a href="https://choirless.com/dashboard">your dashboard</a> and create your choir in less than 3 clicks!</td>
        </tr>

        <tr>
            <td>Once you’ve done that, you can invite members to join your choir, record song parts and  render the entire performance in no time at all!</td>
        </tr>

    </table>


</body>
</html>